* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #ddd;
}
.accordion-body{
    width: 800px;
    margin: 20px auto 0;
}
.accordion-body .accordion-item{
    width: 100%;
    min-height: 30px;
    border: 1px solid;
    border-bottom: 0;
}
.accordion-body .border--bottom{
    border-bottom: solid 1px;
}
.accordion-body  .accordion--title{
    padding: 10px;
}
.accordion-body .accordion--title h2{
    font-size: 14px;
}
.accordion-body .accordion-content{
    width: calc(100% - 20px);
    display: none;
    padding: 10px;
    border:  1px solid;
    border-bottom: none;
    
}
.accordion-body .no--border-top{
    border: 1px solid;
    border-top: none;
}